.container {
    max-width: $section-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 50px;
    padding: 0 20px;
}
.title {
    width: fit-content;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 700;
}