.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media (max-width: 1000px){
        flex-direction: column;
    }
}

.information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    max-width: 600px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listItem{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.imageContainer{
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;

    @media (max-width: 600px){
        width: 100%;
    }
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;

    @media (max-width: 1000px){
        margin: 0 auto;
    }

    @media (max-width: 600px){
        flex-direction: column;
        
        Button {
            width: 100%;
        }
    }

    Button {
        width: 150px;

        .icon{
            width: 1rem;
            height: 1rem;
            margin-right: 5px;
            filter: brightness(0) invert(1);
        }

        @media (max-width: 600px){
            width: 100%;
        }
    }
}