.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.small {
    width: 24px;
    height: 24px;
}

.medium {
    width: 48px;
    height: 48px;
}

.large {
    width: 150px;
    height: 150px;
}