.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: color-mix(in srgb, var(--bg-color), transparent 10%);
    backdrop-filter: blur(8px);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--divider);

    @media (max-width: 750px) {
        width: 100%;
        justify-content: flex-start;
        padding-left: 30px;
    }
}

.headerList {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;

    @media (max-width: 750px) {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: auto;
        background-color: var(--bg-color);
        gap: 1rem;
        z-index: 9999;
        border-bottom: 1px solid var(--divider);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        padding: 1rem;

        // Hidden state (Exit)
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.2s ease-in-out;

        &.open {
            // Visible state (Enter)
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

.themeSwitch {
    position: absolute;
    right: 60px;
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }

    @media (max-width: 750px) {
        right: 80px; 
    }
}

.burger {
    display: none;
    color: var(--text-main);
    --burger-color: var(--text-main);

    @media (max-width: 750px) {
        display: block;
    }
}