.container{
    width: 'fit-content';
    margin: 0 auto;
}

.timelineItem{
    &::before {
        border-color: var(--accent);
    }

    color: var(--text-main);

    :global(.mantine-Timeline-itemBullet) {
        background-color: var(--accent);
        border-color: var(--accent);
        color: white;
        
    }
}