// Font sizes
$font-size-small: 10px;
$font-size-medium: 16px;
$font-size-large: 22px;

// Font weights
$font-weight-medium: 500;
$font-weight-bold: 700;

// Colors
$accent-color: #0F62FE;

$grey-text: #6C6C6C;
$divider-light-color: #e6e6e6;
$divider-dark-color: #2c2c2c;
$ebony: #212121;
$white: #ffffff;

// Layout
$section-width: 1000px;


// Theme Colors
$light-theme-bg-color: #ffffff;
$light-theme-text-color: #161616;

$dark-theme-bg-color: #161616;
$dark-theme-text-color: #f4f4f4;
