@use "./global.scss" as *;

:root {
  --bg-color: #{$light-theme-bg-color};
  --text-main: #{$ebony};
  --text-secondary: #{$grey-text};
  --accent: #{$accent-color};
  --divider: #{$divider-light-color};
}

[data-theme='dark'] {
  --bg-color: #{$dark-theme-bg-color};
  --text-main: #{$white};
  --text-secondary: #{$grey-text};
  --divider: #{$divider-dark-color};
  --accent: #{$accent-color-2};
}
