.introSection {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.backgroundBlob {
    path{
        fill: var(--accent);
        transition: fill 0.3s ease;
    }
}

.backgroundBlobFirst {
    width: 1500px;
    position: absolute;
    right: -800px;
    top: -300px;
    z-index: -1;
}

.backgroundBlobSecond {
    width: 1500px;
    position: absolute;
    left: -200px;
    z-index: -1;
}