.card{
    
    .logo{
        overflow:hidden;
        img{
            width:100%;
            aspect-ratio: 1/1;
            &:hover{
                transform: scale(1.3);
            }
            transition: 0.5s;
        }
            
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top:1rem;
        .description{
            color: $grey-text;
        }
        .links{
            display: flex;
            gap: 1rem;
            margin-top: auto;
        }
    }
}